<h1>Edit State</h1>

<div class="row-fluid">
	<div class="span4 offset4">
		<%= render 'form' %>

		<i class="icon-list"></i>
		<%= link_to 'Show', @state %>
		<i class="icon-circle-left-arrow"></i>
		<%= link_to 'Back', states_path %>
	</div>
</div>